//Colors
$primary: #3498db;
$accent: #FF5722;
$primary-text: darken(#7f8c8d,35%);
$header-def-bg: white;
$header-def-border: #ccd4d5;
$primary-border: darken($primary,10%);
$accent-border: darken($accent,10%);